In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
N2_data = pd.read_csv("C:/Users/Shinichi/Desktop/202110Kyushu/Analysis/N2_1030_ce02.csv")

In [4]:
N2_data

,,Area,Mean,Min,Max,XM,YM,BX,BY,Width,Height,Median,MinThr,MaxThr
0,1,1137,227.555,124,255,739.159,9.327,706,0,62,19,255.0,-3.403000e+38,3.400000e+38
1,2,308,144.880,103,214,900.136,11.808,892,0,21,19,111.0,-3.403000e+38,3.400000e+38
2,3,289,163.211,137,188,935.430,8.286,923,0,21,19,162.0,-3.403000e+38,3.400000e+38
3,4,170,193.588,147,235,997.427,4.321,986,0,20,9,235.0,-3.403000e+38,3.400000e+38
4,5,90,118.000,118,118,1084.000,4.500,1079,0,10,9,118.0,-3.403000e+38,3.400000e+38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,271,99,160.000,160,160,368.955,1811.955,364,1807,10,10,160.0,-3.403000e+38,3.400000e+38
271,272,121,139.000,139,139,379.500,1822.500,374,1817,11,11,139.0,-3.403000e+38,3.400000e+38
272,273,121,113.000,113,113,379.500,1853.500,374,1848,11,11,113.0,-3.403000e+38,3.400000e+38
273,274,210,151.714,116,191,373.205,1874.000,364,1869,21,10,116.0,-3.403000e+38,3.400000e+38
274,275,100,103.000,103,103,369.000,1895.000,364,1890,10,10,103.0,-3.403000e+38,3.400000e+38